.Weather h1 {
  font-size: 22px;
  font-weight: 700;
  color: #323643;
}

.Weather h2 {
  font-size: 18px;
  font-weight: 500;
}

.Weather a {
  text-decoration: none;
  color: #79aad8;
  transition: all 150ms ease-in-out;
}

.Weather a:hover {
  text-decoration: none;
  color: #aa79d8;
  cursor: pointer;
}

.Weather .actual-temp {
  font-size: 80px;
  font-weight: 500;
  color: #323643;
  display: inline-block;
}

.Weather .actual-weather-icon {
  text-align: right;
}

.Weather footer {
  font-size: 10px;
  margin-top: 50px;
  text-align: center;
}

.Weather .max-temp {
  font-weight: 600;
  color: #323643;
}

.Weather .search {
  width: 65%;
  height: 23px;
  border-radius: 10px;
  border: 2px solid #606470a2;
  background-color: rgba(0, 0, 0, 0);
}

.Weather .search-button {
  width: 25%;
  height: 23px;
  border-radius: 10px;
  border: 2px solid #f1f2f7;
  background-color: #f1f2f7;
  color: #606470;
  transition: all 150ms ease-in-out;
}

.Weather .search-button:hover {
  border: 2px solid #606470;
  background-color: #606470;
  color: #d4d6dd;
  cursor: pointer;
}

.Weather .search-input {
  font-size: 11px;
  text-align: right;
  padding: 0px;
}

.Weather .temp-icon {
  color: #9fa3af;
  font-size: 14px;
}

.Weather .temps-and-description {
  margin-top: 15px;
  font-size: 15px;
}

.Weather .unit {
  display: inline-block;
  position: relative;
  top: -35px;
  font-size: 25px;
  font-weight: 300;
  color: #606470;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}

.Weather .unit:hover {
  color: #69b0f1;
  font-weight: 500;
  cursor: pointer;
}

.Weather .unit.active {
  font-weight: 600;
}

.Weather .unit-division {
  display: inline-block;
  position: relative;
  top: -35px;
  font-size: 25px;
  font-weight: 300;
}

.Weather .weather-description {
  font-size: 15px;
  text-align: right;
}

.Weather .weather-icon {
  width: 60%;
  padding-top: 20px;
}

.Weather .weather-info {
  font-size: 15px;
  text-align: right;
  margin-top: -10px;
}

.Weather .wind {
  padding-top: 11px;
}
